<div class="internas img-1">
    <h1>p1</h1>
    <div class="mouse">
        <img src="../img/mouse.png">
    </div>
    <div class="btn-texto">
        <a href="img-2.html" class="btn-internas">
            <img src="../img/btn-1.png">
        </a>
    </div>
    <ion-scroll zooming="true" direction="xy" style="width: 100%; ">
        <div class="pc">
            <a href="img-2.html">
                <div class="link"></div>
            </a>
            <div class="img-interna">
                <img src="../img/img-1.png">
            </div>
        </div>
    </ion-scroll>  
    <div class="btn-voltar">
        <a href="../index.html">
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-fast-backward" aria-hidden="true"></i>
            </button>
        </a>
        <a href="../index.html">
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
            </button>
        </a>
    </div>
</div>
