@keyframes mouse-pulsate {
    0%   { opacity: 0.3 }
    50% { opacity: 1 }
    100%   { opacity: 0.3 }
}
@keyframes border-pulsate {
    0%   { border-color: rgba(255, 128, 0, 0) }
    50%   { border-color: rgba(255, 128, 0, 1) }
    100%   { border-color: rgba(255, 128, 0, 0) }
}
body{
    background: url(../img/bg.png);
    padding-top: 40px;
    position: relative;
    background-size: 150%;
    background-repeat: no-repeat;
}
/*HOME*/
.home{
    width: 100%;
    text-align: center;
    padding-top: 40%;
}
*{
    box-sizing: border-box;
}
/*IMG DEFALT*/
.internas{
    width: 100%;
    height: 90vh;
    float: left;
    margin-top: 30px;
    .btn-texto{
        position: absolute;
        border: 0;
        width: 30%; 
        padding-left: 1%;
        height: auto;
        float: left;
        z-index: 11;
        text-align: left;
        background: transparent;
            img{
                width: 100%;
            }
        }
    .pc{
        position: absolute;
        width: 100%;
        bottom: 0;
        .img-interna{
            width: 100%;
            float: left;
            text-align: center;
            img {
                width: 100%;
            }
        } 
        .link{
            background: transparent;
            width: 35%; 
            height: 40%;
            position: absolute;
            left: 21%;
            top: 6%;
            z-index: 102;
            border: 0; 
        }
        .tela1{
            display: none;
            z-index: 101;
            width: 100%;
            position: fixed;
            top: 7%;
            text-align: center;
            img{
                width: 100%;
            }
        }
        .zoom-link{
            border: 5px solid #ff8000 !important;
            z-index: 200 !important;
            animation: border-pulsate 2s infinite;
        }
        .btn-voltar {
            display: none;
            width: 100%;
            text-align: center;
            position: fixed;
            color: #ff8000;
            font-size: 24px;
            bottom: 20px;
            z-index: 5;
        }
        .btn-controle{
            right: 5%;
            font-size: 350%;
            position: absolute;
            bottom: 5%;
            width: 15%;
            a{
                color: transparent;
                margin: 0 10%;
                i{
                    color: #fff;
                }
            }
        }
    }
    .btn-voltar{
        position: absolute;
        z-index: 5;
        border: 0;
        bottom: 0;
        margin-bottom: 2.5%;
        text-align: right;
        width: 100%;
        padding-right: 1.5%;
        button{
            background: #9aa82d;
            color: #fff;
            border: 0;
            width: 50px;
            height: 35px;
        }
    } 
    .mouse{
        position: absolute;
        z-index: 100;
        width: auto;    
        img{
            animation: mouse-pulsate 2s infinite;
            width: 100%;
        }
    }
}
#page-0{
    display: block;
    .logo{
        float: left;
        width: 100%;
        text-align: center;
        img{
            width: 60%;
        }
    }
    .btn-entrar {
        border: 0;
        padding-left: 1%;
        height: auto;
        float: left;
        z-index: 11;
        text-align: left;
        background: transparent;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        display: block;
        img {
                width: 100%;
        }
    }
}
#page-1{
    display: none;
    .mouse{
        top: 43%;
        left: 23%;
    }
    .zoom-link{
        width: 20% !important; 
        height: 28% !important;
        top: 24% !important; 
        left: 4% !important;
    }
    .vis-n{
        visibility: hidden;
    }
}
#page-2{
    display: none;
    .mouse{
        top: 45%;
        left: 25%;
    }
    .zoom-link{
        width: 9% !important; 
        height: 14% !important;
        top: 47% !important; 
        left: 19.9% !important;
    }
}
#page-3{
    display: none;
    .mouse{
        top: 38.5%;
        left: 45%;
    }
    .zoom-link{
        width: 12.7% !important; 
        height: 14.7% !important;
        top: 24.8% !important; 
        left: 86.8% !important;
    }
}
#page-4{
    display: none;
    .mouse{
        top: 40%;
        left: 29%;
    }
    .zoom-link{
        width: 22.5% !important; 
        height: 15% !important;
        top: 28.9% !important; 
        left: 16.8% !important;
    }
}
#page-5{
    display: none;
    .mouse{
        top: 40%;
        left: 37%; 
    }
    .zoom-link{
        width: 16.8% !important; 
        height: 7.5% !important;
        top: 35.3% !important; 
        left: 54% !important;
    }
}
#page-6{
    display: none;
    video{
        width: 100%;
        height: auto !important;
        margin-top: -70px;
        background: #000;
        position: fixed;
        z-index: 2;
    }
}
#page-7{
    display: none;
    .mouse{
        top: 48%;
        left: 34%;
    }
    .zoom-link{
        width: 26.7% !important; 
        height: 7.5% !important;
        top: 71% !important; 
        left: 36.8% !important;
    }
}
#page-8{
    display: none;
    video{
        width: 100%;
        height: auto !important;
        margin-top: -70px;
        background: #000;
        position: fixed;
        z-index: 2;
    }
}
#page-9{
    display: none;
    .logo{
        float: left;
        width: 100%;
        text-align: center;
        img{
            width: 60%;
        }
    }
    .btn-end{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 3%;
        a{
            color: transparent;
            .btn-final{
                width: 100%;
                box-sizing: border-box;
                border: 0;
                background: transparent;
                margin-bottom: 3%;
                img{
                    width: 60%;
                }
            }
        }
    }
    .reborn{
        position: absolute;
        bottom: 10%;
        margin: 0;
        text-align: center;
        width: 100%;
        a{
            font-size: 350%;
            color: #fff;
        }
    }
}

.zoom-in{
    transition: -webkit-transform 0.25s ease;
    -webkit-transform: scale(4.5);
    padding-top: 20%;
    padding-left: 19%;
}
@media screen and (max-width: 737px){ //iphone 6 plus
    body{
        background-size: 130%;
    }
    .internas{
        .mouse{
            width: 5%;
        }
        .btn-texto{
            margin-top: -30px;
            img{
                width: 100%;
            }
        }
        .pc{
            width: 80%;
            text-align: center;
            margin-left: 12.5%;
            margin-bottom: 0%;
            .btn-controle{
                width: 25%;
                right: 0;
                bottom: 10%;
                a{
                    margin: 0 5%;
                }
            }
            .tela1{
                top: 0;
                left: 0;
                background: #000;
                img{
                    width: 90%;
                }
            }
            .btn-voltar{
                z-index: 101;
                left: 0;
                bottom: -4%;
            }
        }
    }
    #page-1{
        .mouse{
            top: 42%;
            left: 32.5%;
        }
        .zoom-link{
            width: 23% !important;
            height: 33% !important;
            top: 18% !important;
            left: -5% !important;
        }
    }
    #page-2{
        .mouse{
            top: 45%;
            left: 34.5%;
        }
        .zoom-link{
            width: 10% !important;
            height: 15% !important;
            top: 45% !important;
            left: 13% !important;
        }
    }
    #page-3{
        .mouse{
            top: 40%;
            left: 49.5%;
        }
        .zoom-link{
            width: 15% !important;
            height: 16% !important;
            top: 20% !important;
            left: 88% !important;
        }
    }
    #page-4{
        .mouse{
            top: 40%;
            left: 35%;
        }
        .zoom-link{
            width: 25% !important;
            height: 17% !important;
            top: 24% !important;
            left: 10% !important;
        }
    }
    #page-5{
        .mouse{
            top: 41%;
            left: 43%;
        }
        .zoom-link{
            width: 18% !important;
            height: 7% !important;
            top: 32% !important;
            left: 52% !important;
        }
    }
    #page-7{
        .mouse{
            top: 49%;
            left: 40.5%;
        }
        .zoom-link{
            width: 30% !important;
            height: 9% !important;
            top: 71% !important;
            left: 32% !important;
        }
    }
    #page-9{
        .btn-end{
            margin: 5% 0;
            a{
                .btn-final{
                    margin-bottom: 2%;
                    img{
                        width: 45%;
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 668px){ //iphone 6
    #page-1{
        .zoom-link{
            top: 16% !important;
        }
    }
    #page-2{
        .zoom-link{
            top: 43% !important;
        }
    }
    #page-3{
        .zoom-link{
            top: 18% !important;
        }
    }
    #page-4{
        .zoom-link{
            height: 16.5% !important;
            top: 23% !important;
        }
    }
    #page-5{
        .zoom-link{
            top: 30% !important;
        }
    }
    #page-7{
        .zoom-link{
            top: 69% !important;
        }
    }
}
@media screen and (max-width: 569px){ //iphone 5
    .internas{
        .pc{
            margin-bottom: 2.5%;
            .btn-controle{
                width: 25%;
                right: 0;
                bottom: 10%;
            }
        }
    }
    #page-1{
        .mouse{
            top: 40% !important;
        }
        .zoom-link{
            top: 18% !important;
        }
    }
    #page-2{
        .mouse{
            top: 43% !important;
        }
        .zoom-link{
            top: 45% !important;
        }
    }
    #page-3{
        .mouse{
            top: 38% !important;
        }
        .zoom-link{
            top: 19% !important;
            height: 17% !important;
        }
    }
    #page-4{
        .mouse{
            top: 39% !important;
        }
        .zoom-link{
            height: 16.5% !important;
            top: 24% !important;
        }
    }
    #page-5{
        .mouse{
            top: 39% !important;
        }
        .zoom-link{
            top: 32% !important;
        }
    }
    #page-7{
        .mouse{
            top: 46% !important;
        }
        .zoom-link{
            top: 71% !important;
        }
    }
}